<!-- formulario -->
<div>
    <div>
      <p>¿Quires  saber más?</p>
      <P>¡Contáctanos!</P>
    </div>
    <div>
      <form>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre: </label>
          <input [(ngModel)]="nombre" type="text" class="form-control" name="nombre" required>
          @if(nombre && nombre.trim().length > 0 && nombre.trim().length < 5) {
            <div style="color: red; font-size: 0.9em;">El nombre debe tener al menos 5 caracteres.</div>
          }
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input [(ngModel)]="email" type="text" class="form-control" name="email" required minlength="4">
          @if(email && !email.includes('@')) {
            <div style="color: red; font-size: 0.9em;">El email debe contener un "&#64;" válido.</div>
          }
        </div>
        <div class="mb-3">
          <label for="asunto" class="form-label">Asunto:</label>
          <input [(ngModel)]="asunto" type="text" class="form-control" name="asunto" required minlength="10">
          @if(asunto && asunto.trim().length > 0 && asunto.trim().length < 10) {
            <div style="color: red; font-size: 0.9em;">El asunto debe tener al menos 10 caracteres.</div>
          }
        </div>
        <div class="mb-3">
          <label for="mensaje" class="form-label">Mensaje:</label>
          <textarea name="mensaje" id="" [(ngModel)]="mensaje" required="" minlength="20"></textarea>
          @if(mensaje && mensaje.trim().length > 0 && mensaje.trim().length < 20) {
            <div style="color: red; font-size: 0.9em;">El mensaje debe tener al menos 20 caracteres.</div>
          }
        </div>
      
        <button type="button" class="btn btn-primary" (click)="enviar()" [disabled]="formularioInvalido()">Enviar</button>
      </form>
    </div>
  </div>