<footer>
    <div class="par1">
        <div class="imagen">
            <img src="" alt=""> <!-- Logo -->
        </div>
        <div class="redes">
            <ul>
                <li><a href=""><i class='bx bxl-facebook-circle'></i></a></li>
                <li><a href=""><i class='bx bxl-tiktok' ></i></a></li>
                <li><a href=""><i class='bx bxl-instagram-alt' ></i></a></li>
                <li><a href=""><i class='bx bxl-youtube' ></i></a></li>
                <li><a href=""><i class='bx bxl-twitter' ></i></a></li>
            </ul>
        </div>
    </div>
    <div class="par2">
        <div class="par2-1">
            <h3>Sobre nosotros</h3>
            <ul>
                <li><a href="">Historia</a></li>
                <li><a href="">Misión y Visión</a></li>
                <li><a href="">Valores</a></li>
                <li><a href="">Equipo</a></li>
            </ul>
        </div>
        <div class="pas2-1">
            <h3>Servicios</h3>
            <ul>
                <li><a href="">Entrenamiento Personal</a></li>
                <li><a href="">Nutrición</a></li>
                <li><a href="">Clases Grupales</a></li>
                <li><a href="">Asesoría Online</a></li>
            </ul>
        </div>
    </div>
    <div class="par3">
        <p>Copyright &copy; 2025 Gym. Todos los derechos reservados.</p>
        <p>Proyecto Universitario</p>
    </div>
</footer>