@if(!loginUsuario){
    <div class="formulario">
        <form>
          <div class="">
            <label for="usuario" class="">Nombre de Usuario</label>
            <input type="text" class="" name="username" [(ngModel)]="usuario.username">
          </div>
          <div class="">
            <label for="passsword" class="">Contraseña</label>
            <input type="password" class="" name="password" [(ngModel)]="usuario.password">
          </div>
      
          <button type="button" (click)="login()">Enviar</button>
        </form>
    </div>
}@else {
    <div class="formulario">
        <h1>Bienvenido {{usuario.username}}</h1>
        <button type="button" (click)="logout()">Cerrar Sesión</button>
    </div>
}
<!-- Api externa de ejercicios (prueba de funcionamiento) -->
<!--Esto se puede eliminar para usarse en el componente adecuado-->
<div>
  @for(ejer of ejercicios; track  ejer){
    <h3>{{ ejer.name }}</h3>
    <p>Músculo: {{ ejer.muscle }}</p>
    <p>Tipo: {{ ejer.type }}</p>
    <br>
    <br>
  }
</div>