<div class="container mt-5">
    @if(miEjercicio === undefined || miEjercicio === null) {
        <div class="row animated__animated animate__backInLeft">
            <div class="co-md-12">
                <div class="alert alert-info" role="alert">
                    <p>No existen resultados para {{nombreEjercicio}}</p>
                </div>
            </div>
        </div>
    }@else{
        <div class="card p-4 bg-gray-100 rounded-lg" id="card1">
        <h3>{{miEjercicio.name}}</h3>
        <p>{{miEjercicio.muscle}}</p>
        <p>{{miEjercicio.type}}</p>
        <p>{{miEjercicio.equipment}}</p>
        <p>{{miEjercicio.difficulty}}</p>
        <p>{{miEjercicio.instructions}}</p>
      </div>
    }
</div>