
<app-formulario2 [datosSuscripcion]="datosParaFormulario2"></app-formulario2>

<div class="formulario">
  <form [formGroup]="suscripcionForm" (ngSubmit)="enviar()">
    <div>
      <label>Nombre:</label>
      <input type="text" formControlName="nombre">
      @if(suscripcionForm.get('nombre')?.invalid && suscripcionForm.get('nombre')?.touched) {
        <div style="color:red;">Nombre requerido (mínimo 3 letras)</div>
      }
    </div>
    <div>
      <label>Teléfono:</label>
      <input type="tel" formControlName="telefono">
      @if(suscripcionForm.get('telefono')?.invalid && suscripcionForm.get('telefono')?.touched) {
        <div style="color:red;">Teléfono requerido (solo números, 7-15 dígitos)</div>
      }
    </div>
    <div>
      <label>Clase:</label>
      <select formControlName="clase">
        <option value="" disabled selected>Selecciona una clase</option>
        @for(clase of clases; track clase) {
          <option [value]="clase">{{clase}}</option>
        }
      </select>
      @if(suscripcionForm.get('clase')?.invalid && suscripcionForm.get('clase')?.touched) {
        <div style="color:red;">Selecciona una clase</div>
      }
    </div>
    <div>
      <label>Fecha para ser contactado:</label>
      <input type="date" formControlName="fecha" [min]="minFecha">
      @if(suscripcionForm.get('fecha')?.invalid && suscripcionForm.get('fecha')?.touched) {
        <div style="color:red;">Selecciona una fecha válida (no anterior a hoy)</div>
      }
    </div>
    <div>
      <label>
        <input type="checkbox" formControlName="publicidad">
        Deseo recibir publicidad
      </label>
    </div>
    <button type="submit" [disabled]="suscripcionForm.invalid">Enviar</button>
  </form>
</div>

<div>
  <label>Buscar ejercicio:</label>
  <input type="text" [(ngModel)]="buscador" name="buscador" placeholder="Buscar ejercicio" />
</div>

<div class="ejercicios">
  <div class="grid grid-cols-3 gap-4">
    @for (ejer of ejerciciosFiltrados; track ejer; let i = $index) {
      <div class="card p-4 bg-gray-100 rounded-lg" id="card1">
        <h3>{{ejer.name}}</h3>
        <p>{{ejer.muscle}}</p>
        <p>{{ejer.type}}</p>
        <button (click)="buscarAdetalle(ejer.name)">Ver detalles</button>
      </div>
    }
  </div>
  <div class="mensaje">
    @if (ejerciciosFiltrados.length == 0) {
      <h3>No se encontró ninguna coincidencia</h3>
    }
  </div>
</div>
