<div class="inicio-container">
  <!-- Carrusel -->
  <div class="carrusel-container overflow-hidden relative w-full h-64">
    <div class="carrusel flex transition-transform duration-500" id="carrusel">
      <img src="banner1.webp" alt="Gimnasio Eter Gym" class="w-full h-64 object-cover">
      <img src="mapa.jpg" alt="Equipos de Entrenamiento" class="w-full h-64 object-cover">
      <img src="eter.jpg" alt="Clases Personalizadas" class="w-full h-64 object-cover">
    </div>
  
    <button class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-black text-white p-2" (click)="anterior()">
      &#9664;
    </button>
    <button class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-black text-white p-2" (click)="siguiente()">
      &#9654;
    </button>
  </div>
  

  <!-- Ubicación -->
  <div class="ubicacion mt-8">
    <h2>Ubicación</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3752.3322612293787!2d-102.3110291!3d21.893397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429eef53562b7f1%3A0xc87b919f2bc62787!2sGimnasio+Eter+Gym+Aguascalientes!5e0!3m2!1ses!2smx!4v1682901342194!5m2!1ses!2smx"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>

  <!-- Planes -->
  <div class="planes mt-8">
    <h2>Planes</h2>
    <div class="grid grid-cols-3 gap-4">
      <div class="card p-4 bg-gray-100 rounded-lg" id="card1">
        <h3 id="nombre1"></h3>
        <p id="descripcion1"></p>
        <p><strong>Precio:</strong> $<span id="precio1"></span></p>
        <p><strong>Duración:</strong> <span id="duracion1"></span></p>
        <button onclick="guardarEnLocalStorage(1)">Seleccionar Plan</button>
      </div>

      <div class="card p-4 bg-gray-100 rounded-lg" id="card2">
        <h3 id="nombre2"></h3>
        <p id="descripcion2"></p>
        <p><strong>Precio:</strong> $<span id="precio2"></span></p>
        <p><strong>Duración:</strong> <span id="duracion2"></span></p>
        <button onclick="guardarEnLocalStorage(2)">Seleccionar Plan</button>
      </div>

      <div class="card p-4 bg-gray-100 rounded-lg" id="card3">
        <h3 id="nombre3"></h3>
        <p id="descripcion3"></p>
        <p><strong>Precio:</strong> $<span id="precio3"></span></p>
        <p><strong>Duración:</strong> <span id="duracion3"></span></p>
        <button onclick="guardarEnLocalStorage(3)">Seleccionar Plan</button>
      </div>
    </div>
  </div>
</div>
